/* .wrapperProductos .rowProductos{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 50px;
    margin-bottom: 50px;
} */

.wrapperProductos{
    margin: 0px 20px;
    display: flex !important;
    justify-content: flex-start !important;

    flex-flow: row wrap !important;
    align-items: stretch !important;
}
.card{
    width: 400px !important;
    margin: 5px;
}
.wrapperProductos .img, .wrapperProductos{
    display: flex !important;
    justify-content: center !important;
}

.wrapperProductos img{
    width: 350px;
    height: 300px;
}

.wrapperProductos .descripcionProducto{
    text-align: justify;
}
