
/* Busqueda por input o filtro */
.busqueda{
    margin: 15px 15px;
}
.criterios-busquedas{
    display: flex;
    flex-flow: row wrap;
    
    justify-content: flex-start;
    max-height: 40px !important;
    margin-bottom: 12px !important;
}
.contenedor-barra-busqueda{
    height: 40px !important;
    width: 60% !important;
    background-color: white;

    border-radius: 10px;
    border: 1px solid black;  
    
}
.contenedor-barra-busqueda form{
    display: flex;
    flex-flow: row nowrap;

    max-height: 100%;
}
.contenedor-barra-busqueda form input{
    position: relative !important;

    opacity: 1;
    border: none;
    flex-grow: 1;

    border-radius: 10px;
    padding: 0px 5px;
    font-family: 'Cairo', sans-serif;
}
#filtro-busqueda{
    margin: 0px 10px;
    font-size: 25px;
    
    cursor: pointer;
}

/* Busquedas por categorías */
.categorias-busquedas ul{
    display: flex;
    flex-flow:  row wrap;
    justify-content: flex-start;
    align-items: center;

    list-style: none;
}
.categorias-busquedas ul li{
    background-color: #484C88;
    margin-left: 10px;
    height: 35px;
    width: 110px;

    text-align: center;
    line-height: 35px;
    color: white;

    cursor: pointer;

    margin-top: 5px;
}
.categorias-busquedas ul li:hover{
    color: #484C88;
    background-color: white;
    transition: all 400ms ease;
    border: 1px solid #484C88;
}
