/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Cairo:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');

/* Adecuando cuerpo de la vista */
/*body{
    background-color: #afcec9;
}*/
input, select{
    outline:none;
}

/* Dividiendo la vista en paneles para cada sección */
.container{
    background-color: #afcec9;

    margin: 0px;

    height: 92vh;
    max-height: 92vh;
    
    display: flex;
    flex-flow:  row wrap;
    justify-content: space-between;

    padding: 1.2%;

    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    cursor: auto;

    overflow: hidden;
}

.container > div{
    width: 49%;
}

.foro-seccion{
    max-width: 100%;
    height: 100%;

    display: flex;
    flex-flow:  column wrap;

    justify-content: space-between;
}

.foro-seccion > div{
    background-color: #D9ECE9;
    border: 1px solid #45897E;
    border-radius: 15px;

    display: flex;
    flex-flow:  column nowrap;
    justify-content: flex-start;

    align-items: stretch;

    overflow: hidden;
}

.foro-seccion .tus-foros{
    height: 39%;
}
.foro-seccion .explorar-foros{
    height: 59%;
}
.foro-seccion .discusiones{
    height: 100%;
}

/* Dando estilos propios a cada sección */
.titulo-seccion{
    font-family: 'Cairo';
    font-size: 24px;

    padding: 5px 20px 5px 20px;
}

/* Estilo a la sección de foros */
.foros{
    overflow-y: auto;
    padding: 0px 20px 10px 20px;
}

.foros .foro-item{
    border-radius: 15px;
    background-color: #AFCEC9;

    height: 85px;
    margin-bottom: 10px;

    display: flex;
    flex-flow:  row nowrap;
    justify-content: space-between;
    
    cursor: pointer;
}
.foros .foro-item:hover{
    background-color: #a2dab0;
    transform: scale(1.01);
}

.foros .foro-item .foto-foro{
    border-radius: 0px 15px 15px 0px;
    
    height: 85px;
    width: 130px;
    margin-left: 20px;
}

/* Estilo a cada foro */
.informacion-foro{
    padding: 5px 0px 10px 10px;
    flex-grow: 1;
}
.informacion-foro .nombre-foro{
    margin-bottom: 3px;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #39397F;
}
.informacion-foro .descripcion-foro{
    margin-bottom: 3px;
    font-family: 'Cairo', sans-serif;
    font-size: 13px;
    line-height: 1.2;
}
.informacion-foro .miembros-foro{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
}

/* Estios a seccion explorar foros */
.busqueda-foros{
    padding: 5px 20px;
    margin-bottom: 10px;

    display: flex;
    flex-flow: column wrap;

    justify-content: flex-start;
}
/* Busqueda por input o filtro */
.criterios-busquedas{
    display: flex;
    flex-flow: row wrap;
    
    justify-content: flex-start;
    max-height: 40px;
    margin-bottom: 12px;
}
.contenedor-barra-busqueda{
    height: 40px;
    width: 60%;
    background-color: white;

    border-radius: 10px;
    border: 1px solid black;  
    
}
.contenedor-barra-busqueda form{
    display: flex;
    flex-flow: row nowrap;

    max-height: 100%;
}
.contenedor-barra-busqueda form input{
    position: relative !important;

    opacity: 1;
    border: none;
    flex-grow: 1;

    border-radius: 10px;
    padding: 0px 5px;
    font-family: 'Cairo', sans-serif;
}
#filtro-busqueda{
    margin: 0px 10px;
    font-size: 25px;
    
}

/* Busquedas por categorías */
.categorias-busquedas ul{
    display: flex;
    flex-flow:  row wrap;
    justify-content: flex-start;
    align-items: center;

    list-style: none;
}
.categorias-busquedas ul li{
    background-color: #484C88;
    margin-left: 10px;
    height: 35px;
    width: 110px;

    text-align: center;
    line-height: 35px;
    color: white;

}
.categorias-busquedas ul li:hover{
    color: #484C88;
    background-color: white;
    transition: all 400ms ease;
    border: 1px solid #484C88;
}

/* Estilos de discusiones */
.discusiones{
    overflow-y: auto !important;
    max-width: 100%;
}
.discusiones > div {
    padding: 0px 20px;
}
.discusiones .orden-panel{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    margin-bottom: 5px;
}
.discusiones .orden-panel > label{
    margin-right: 10px;

    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: normal;
}
.discusiones .orden-panel > select{
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    color: #4D9386;
    font-weight: normal;

    max-height: 30px;
    line-height: 30px;

    border-radius: 3px;
    border: none;

    background-color: #D9D9D9;
}
/* Estilos de discusion */
.discusion{
    align-self: center;
    width: 95%;
    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 20px;
    background-color: #AFCEC9; 
}
/* Informacion de discusion */
.discusion .informacion-discusion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: 10px 0px 0px 0px;
}
.discusion .informacion-discusion > a{
    
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;

    border-radius: 50%;
    border: 0.2px solid white;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}
.discusion .informacion-discusion img{
   max-width: 40px;
   max-height: 40px;
}
.informacion-discusion .titulo-discusion{
    flex-grow: 1;
    margin-left: 10px;
}
.informacion-discusion .titulo-discusion a{
    color:#39397F;
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    font-weight: bold;

    font-style: italic;
}
.informacion-discusion .titulo-discusion a:hover{
    text-decoration: underline;
}
/* Antiguedad discusion */
.antiguedad{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin-top: -13px;
    margin-bottom: 10px;

    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.antiguedad:hover{
    text-decoration: underline;
}

/* Contenido de discusion */
.contenido-discusion{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: baseline;
    border: 0.1px dotted #39397F;

    border-radius: 30px 30px 0px 0px;
}
.contenido-discusion > pre{
    margin: 20px;
    height: auto;
}
.contenido-discusion .imagenes-discusion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;

    background-color: black;

    width: 100%;
}
.contenido-discusion .imagenes-discusion img{
    max-width: 200px;
    max-height: 200px;

    margin: 2px;
}
.contenido-discusion .imagenes-discusion img:hover{
    transform: scale(1.5);
    border: 1px solid black;
}
/* Reacciones de la discusión */
.reacciones-discusion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background-color: #9BBEB9;
    border-top:0.1px dotted #39397F;

    border-radius: 0px 0px 20px 20px;
}
.reacciones-discusion .reaccion{
    flex-grow: 1;
    border-right: 0.1px dotted #39397F;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0px 7px;
    cursor:pointer;
    
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: normal;
}
.reacciones-discusion .mas-opciones{
    flex-grow: 0;
    flex-shrink: 1;
    border: none;
}
.reacciones-discusion .reaccion:hover{
    background-color: #7da09a;
    transition: all 200ms ease;
}
.reacciones-discusion .reaccion:first-child{
    border-radius: 0px 0px 0px 20px;
}
.reacciones-discusion .reaccion:last-child{
    border-radius: 0px 0px 20px 0px;
}