.productos * {
    box-sizing: border-box;
    src: url("./fonts/Roboto-Light.ttf");
    text-decoration: none;
}

.productos {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    zoom: 100%;
    background-color: white;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    

}

/*Para el div donde estara todo*/

.productos .column.middle {
    width: 50%;
    padding-left: 6%;
}

/*Para la columna de la busqueda y los productos*/


/*Para los productos*/

.productos .card {
  border: 2px solid #000;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.productos .img {
  border-radius: 10px 10px 0 0;
}
.productos .badge {
  top: 10px; right: 20px;
  font-size: 17px;
}

.productos .imagenes {
    width: 40%;
    display: block;
    margin: auto;
    padding-top: 2%;
}

.productos .NombreProducto{
    text-align: center;
    font-weight: bold;
}

.productos .Precio {
    border: none;
    color: red;
    font-weight: bold;
    text-align: center;
}

/*.Productos {
    padding-left: 21%;
    width: 80%;
    display: -webkit-flex;
    display: flex;
    overflow-x: auto;
}

.TProductos {
    padding: auto;
    width: 25%;
    border: 1px solid;
    border-radius: 10px;
    float: left;
    width: 33%;
    margin-left: 1rem;
    margin-top: 1rem;
}

.imagenes {
    width: 60%;
    display: block;
    margin: auto;
}

td {
    text-align: justify;
    padding: 0.5rem;
    padding-top: 0;
}

.Precio {
    border: none;
    color: red;
    font-weight: bold;
    text-align: center;
}

.NombreProducto{
    text-align: center;
    font-weight: bold;
}*/